doc/cylindricalMESFET.aux
doc/cylindricalMESFET.log
doc/cylindricalMESFET.pdf
doc/cylindricalMESFET.synctex.gz

.libs/
*.la
*.o
*.lo
main.c
geom.c
stamp-h1
fetmodel.dSYM/
ctl-io.h
ctl-io.c
Makefile
autom4te.cache/
config.h.in
config.h
autoscan.log
aclocal.m4
m4/
fetmodel.scm
Makefile.in
COPYING
INSTALL
compile
config.guess
configure.scan
config.sub
config.log
config.status
depcomp
install-sh
ltmain.sh
missing
.deps/
.fetmodel
configure
fetmodel
libtool

python/fetmodel_wrap.c
python/fetmodel.py
python/__pycache__
python/*.so
python/build
python/.ipynb_checkpoints
python/__init__.py
python/__init__.py.bak
python/fetmodel-python.c
python/install_files.txt
py-compile
python/fetmodel

python/examples/__pycache__
python/examples/.ipynb_checkpoints
