doc/cylindricalMESFET.aux
doc/cylindricalMESFET.log
doc/cylindricalMESFET.pdf
doc/cylindricalMESFET.synctex.gz

.libs/
libcfet.la
*.o
main.c
geom.c
stamp-h1
fetmodel.dSYM/
ctl-io.h
ctl-io.c
Makefile
autom4te.cache/
config.h.in
config.h
autoscan.log
aclocal.m4
m4/
fetmodel.scm
Makefile.in
COPYING
INSTALL
compile
config.guess
configure.scan
config.sub
config.log
config.status
depcomp
install-sh
ltmain.sh
missing
.deps/
.fetmodel
configure
fetmodel
libtool

python/pycfet_wrap.c
python/pycfet.py
